@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
.App {
  height: 89.5vh;
  overflow: auto;
  min-width: 1024px;
  padding: 30px 60px;
  background: url("./assets//background.png") no-repeat 100% 100%;
  background-size: cover;
  font-family:  'Lato', sans-serif;
  overflow: hidden;
}

.doclogo img {
  text-align: left;
}
.msg_logo {
  position: absolute;
  bottom: 2%;
  right: 1%;
  border-radius: 100%;
  text-align: center;
}
.msg_logo:hover {
  cursor: pointer;
  box-shadow: 0px 2px 48px -13px rgba(0, 0, 0, 0.722);
}
.eye {
  position: absolute;
  bottom: 45.5%;
  right: 12%;
}
.eye1 {
  position: absolute;
  bottom: 41%;
  right: 12%;
}
.msg_logo img {
  width: 55px;
  box-shadow: 0px 2px 48px -13px rgba(0, 0, 0, 0.377);
}
.form{
  width: 390px;
  height:fit-content;
  margin: 2% auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px 50px 45px 50px;
  box-shadow: 0px 2px 48px -13px rgba(0, 0, 0, 0.722);
}
.form1{
  width: 390px;
  height:fit-content;
  margin: 2% auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px 50px 0px 50px;
  box-shadow: 0px 2px 48px -13px rgba(0, 0, 0, 0.722);
}
form span {
  font-size: 15px;
}
form * {
  font-family:  'Lato', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size:22px;
  margin-bottom: 7px;
}

.apiError{
  color: rgb(199, 0, 17);
  font-size: 10px;
  border: 1px solid rgb(199, 0, 17);
  background-color: rgba(199, 0, 17, 0.039);
  margin: 6px 0;
  padding: 2%;
  width: 97%;
}
.validError{
  color: rgb(199, 0, 17);
  font-size: 13px;
}

.none{
  margin: 10px 0;
  padding: 3.2%;
  width: 99%;
}
.none2{
  padding: 4.4%;
  width: 99%;
}


label {
  display: block;
  font-size: 10px;
  font-weight: 500;
}
input {
  margin: 2% 0;
  display: block;
  height: 35px;
  width: 96%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(90, 121, 245, 0.487);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
}
.emailValidate{
  border: 1px solid rgb(199, 0, 17);
}
.emailValidate:focus{
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
.emailValidate:hover{
  border: 1px solid rgb(199, 0, 17);
  outline: none;
}
.passwordValidate{
  border: 1px solid rgb(199, 0, 17);
}
.passwordValidate:focus{
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
.passwordValidate:hover{
  border: 1px solid rgb(199, 0, 17);
  outline: none;
}
.email_input:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
input[type="password"]:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
input:hover {
  border: 1px solid rgb(77, 97, 252);
}
::placeholder {
  color: #00000098;
  font-weight:800;
}
.sign_up {
  width: 100%;
  background-color: rgb(77, 97, 252);
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 43px;
  margin-top: 10%;
  
}
.sig-up {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #414141;
}
.sig-up-col {
  color: rgb(44, 86, 255);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.for_pass {
  text-align: right;
  cursor: pointer;
}
.user_name {
  color: white;
  margin-top: 15%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.sign_up_logging {
  width: 100%;
  background-color: rgba(77, 97, 252, 0.661);
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 10%;
}
