.App {
  background-image: url("./assets//background.png");
  background-repeat: "no-repeat";
  background-size: 100% 100%;
  height: 100vh;
}

.doclogo img {
  padding: 2% 5%;
  text-align: left;
}
.msg_logo {
  position: absolute;
  bottom: 2%;
  right: 1%;
  border-radius: 100%;
  text-align: center;
}
.msg_logo:hover {
  cursor: pointer;
  box-shadow: 0px 2px 48px -13px rgba(0, 0, 0, 0.644);
}
.eye {
  position: absolute;
  bottom: 45%;
  right: 12%;
}
.msg_logo img {
  width: 50px;
}
form {
  width: 30%;
  margin: auto;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 25px 50px 40px 50px;
}
form span {
  font-size: 15px;
}
form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  margin-bottom: 10px;
}

form p {
  color: rgb(199,0,17);
  font-size: 15px;
  border: 1px solid rgb(199,0,17);
  background-color: rgba(199, 0, 17, 0.11);
  margin: 6px 0;
  padding: 1%;
  width: 99%;
}

.none{
  color: rgb(255, 255, 255);
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  padding: 1%;
  width: 99%;
}


label {
  display: block;
  font-size: 10px;
  font-weight: 500;
}
input {
  margin: 2% 0;
  display: block;
  height: 35px;
  width: 96%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(90, 121, 245, 0.487);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 300;
}
input[type="email"]:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
input[type="password"]:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
input:hover {
  border: 1px solid rgb(77, 97, 252);
}
::placeholder {
  color: #919191;
}
.sign_up {
  width: 100%;
  background-color: rgb(77, 97, 252);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 10%;
}
.sig-up {
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  color: #414141;
}
.sig-up-col {
  color: rgb(90, 122, 245);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.for_pass {
  text-align: right;
  cursor: pointer;
}
.user_name {
  color: white;
  margin-top: 15%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
